@for (item of data; track $index) {
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
      <mat-panel-description>
        State: <strong>{{ item.state ? "Active" : "Inactive" }}</strong>
        <p class="verticalLine">
          Position: <strong>{{ item.position }}</strong>
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-slide-toggle [(ngModel)]="item.state" (change)="itemChanged(item)"
      >Toggle state</mat-slide-toggle
    >
    <mat-slider
      discrete
      min="0"
      max="100"
      step="1"
      value="value"
      (change)="itemChanged(item)"
    >
      <input matSliderThumb [(ngModel)]="item.position" #slider />
    </mat-slider>
  </mat-expansion-panel>
</mat-accordion>
}
