@for (item of data; track $index) {
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
      <mat-panel-description>
        State: <strong>{{ item.state ? "On" : "Off" }}</strong>
        @if (item.brightnes) {
        <p>&nbsp;|&nbsp;</p>
        Brightnes: <strong>{{ item.brightnes }}</strong>
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-slide-toggle [checked]="item.state">State</mat-slide-toggle>
    <ng-container>
      <label>Position</label>
      <label>{{ item.brightnes }}</label>
    </ng-container>
    <mat-slider discrete min="0" max="100" step="1" value="value">
      <input matSliderThumb [(ngModel)]="item.brightnes" #slider />
    </mat-slider>
  </mat-expansion-panel>
</mat-accordion>
}
