@if (data === undefined) {
  <mat-spinner></mat-spinner>
} @else {
  @for (item of data; track $index) {
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ item.name }} </mat-panel-title>
          <mat-panel-description>
            State: <strong>{{ item.state ? "On" : "Off" }}</strong>
            <p class="verticalLine">
              Brightness: <strong>{{ item.brightness }}</strong>
            </p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-between">
          <div class="w-75">
            <mat-slide-toggle
              [(ngModel)]="item.state"
              (change)="itemChanged(item)"
              >Toggle state</mat-slide-toggle
            >
            <div>
              <mat-slider
                discrete
                min="0"
                max="100"
                step="1"
                value="value"
                matTooltip="Change the brightness with this slider"
                (change)="itemChanged(item)"
              >
                <input matSliderThumb [(ngModel)]="item.brightness" #slider />
              </mat-slider>
            </div>
          </div>
          <button mat-fab (click)="itemDelete(item.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  }
}
