/* You can add global styles to this file, and also import other style files */

body {
  padding: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: azure;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.m-1 {
  margin: 4px;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

mat-slide-toggle {
  margin: 4px;
}

.verticalLine {
  border-left: 1px solid black;
  padding-left: 4px;
  margin-left: 4px;
}
