/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: azure;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

mat-slide-toggle {
  margin: 4px;
}

.verticalLine {
  border-left: 1px solid black;
  padding-left: 4px;
  margin-left: 4px;
}
